body {
  position: relative;
/*  animation: back .1s linear infinite;*/
}

#signin {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
#signin .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
#signin .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#signin .form-signin .form-control:focus {
  z-index: 2;
}
#signin .form-signin.connect input#connect-email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#signin .form-signin.connect input#connect-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#signin .form-signin.signin input {
  border-radius: 0;
}
#signin .form-signin.signin input#signin-firstname {
  margin-bottom: -1px;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
#signin .form-signin.signin input#signin-password-confirm {
  margin-bottom: 10px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

#alerts {
  position: absolute;
  top: 100px;
  left: 50px;
  min-width: 400px;
}

#descs .desc:nth-child(odd) {
  background-color: #F8F9FA;
}

#descs .desc:nth-child(even) {
  text-align: right;
}


/*@keyframes back {
  0% {background-color: #00F;}
  20% {background-color: #0F0;}
  40% {background-color: #F00;}
  60% {background-color: #0FF;}
  80% {background-color: #FF0;}
  90% {background-color: #F0F;}
}
*/
