{% extends "base.html" %}

{% block body %}

<div id="bar">
  <div class="container">
    <div class="my-3 text-center">
      <h1>Bar</h1>
    </div>

    <form action="{{ url_for('achat_conso') }}" method="POST">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Conso</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
          </tr>          
        </thead>
        
        <tbody>

          {% if consos %}
          {% for conso in consos %}
          <tr>
            <th scope="col"><img src="{{ url_for('static', filename='img/conso.jpg') }}" alt="conso"></th>
            <th scope="col">{{ conso.consommation }}</th>
            <th scope="col">{{ conso.tarif }} €</th>
            <th scope="col"><input type="number" name="{{ conso.id }}" value="0" required></th>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
      </table>
      {% if session and current_resas %}
      <label for="current-resa">Sélectionner la réservation sur laquelle commander...</label>
      <select class="custom-select" name="current-resa" id="current-resa" required>
        {% for resa in current_resas %}
        <option value="{{ resa.id }}">Chambre n° {{ resa.id_chambre }} du {{ resa.date_debut }} au {{ resa.date_fin }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary my-3">Commander</button>
      {% endif %}

    </form>


    </div>
  </div>
</div>

{% endblock %}
