{% extends "base.html" %}

{% block body %}

<div id="rooms">
  <div class="container">
    <div class="pt-3"><h1>Toutes nos chambres</h1></div>
    {% if period %}
    <h3>libres entre le {{ period.debut.strftime("%d/%m/%Y") }} et le {{ period.fin.strftime("%d/%m/%Y") }}</h3>
    {% endif %}
    <hr>
    <h5>Listez les chambres libres pour une période donnée</h5>

    <form method="POST" action="{{ url_for('chambres') }}">
      <div class="form-row">
        <div class="form-group col-sm-12 col-md-5">
          <label for="from"><span class="badge badge-secondary">Date de début</span></label>
          <input type="date" id="from" name="from" class="form-control" placeholder="aaaa-mm-jj" required>
        </div>
        <div class="form-group col-sm-12 col-md-5">
          <label for="to"><span class="badge badge-secondary">Date de fin</span></label>
          <input type="date" id="to" name="to" class="form-control" placeholder="aaaa-mm-jj" required>
        </div>
        <div class="form-group col-sm-12 col-md-2" style="display:flex;align-items:flex-end;">
          <button type="submit" class="btn btn-primary btn-block">OK</button>
        </div>
      </div>
    </form>
    
    <hr>

    <div class="row">

    {% if chambres %}
    {% for chambre in chambres %}
      <div class="col-sm-12 col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ url_for('static', filename='img/room.jpg') }}" class="card-img-top" alt="Nom de la chambre">
          <div class="card-body">
            <h5 class="card-title"><span class="badge badge-secondary">n° {{ chambre.numero }}</span></h5>
            <p class="card-text">{{ chambre.presentation }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-primary" href="{{ url_for('chambre', id=chambre.numero) }}">Plus d'infos</a>
              </div>
              {% if chambre.dispo %}
              <small class="text-success">Disponible</small>
              {% else %}
              <small class="text-muted">Indisponible</small>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

    </div>
  </div>
</div>

{% endblock %}
