{% extends "base.html" %}

{% block body %}

<div id="room">
  <div class="container">
    <div class="py-3">
      <h1>Chambre <span class="badge badge-secondary">n° {{ chambre.numero }}</span></h1>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="{{ url_for('static', filename='img/room.jpg') }}" alt="Nom de la chambre" style="width:100%;">
      </div>

      <div class="col-sm-12 col-md-6">
        <h3>Infos</h3>
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Prix de la nuitée</th>
              <th scope="col">{{ chambre.nuitee }}€</th>
            </tr>
            <tr>
              <th scope="col">Disponibilité</th>
              {% if chambre.dispo %}
              <th scope="col" class="text-success">Disponible</span></th>
              {% else %}
              <th scope="col" class="text-danger">Indisponible</th>
              {% endif %}
            </tr>
          </tbody>
        </table>
        {% if futures %}
        <h3>Prochaines réservations</h3>
        <div class="mb-3">
          <ul class="list-group">
            {% for future in futures %}
            <li class="list-group-item">Du {{ future.date_debut.strftime("%d/%m/%Y") }} au {{ future.date_fin.strftime("%d/%m/%Y") }}</li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <p>Pas de future réservation pour cette chambre</p>
        {% endif %}
      </div>

      <div class="col-sm-12 pt-3">
        <p>{{ chambre.presentation }}</p>
        <hr>
      </div>

    <form class="w-100" action="{{ url_for('location', id=chambre.numero) }}" method="POST">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label for="from"><span class="badge badge-secondary">Date de début</span></label>
            <input type="date" id="from" name="from" class="form-control" placeholder="jj/mm/aaaa" required>
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="to"><span class="badge badge-secondary">Date de fin</span></label>
            <input type="date" id="to" name="to" class="form-control" placeholder="jj/mm/aaaa" required>
          </div>
          <div class="col"><button type="submit" class="btn btn-primary my-3">Louer la chambre</button></div>
        </div>
      </div>
    </form>

          
    </div>
  </div>

  {% if commentaires %}
  <div class="bg-light py-3">
    <div class="container comments">
      <h2 class="text-center my-3">Commentaires</h2>
      <div class="wrapper">

        {% for com in commentaires %}
        <div class="comment">
          <p>{{ com.contenu }}</p>
          <div class="blockquote-footer">Posté par {{ com.auteur }}, <em>le {{ com.date.strftime("%d/%m/%Y") }}</em></div>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
