{% extends "base.html" %}

{% block body %}

<div id="space">
  <div class="container">
    <div class="py-3">
      <h1>Espace personnel</h1>
      <h2>Bienvenue {{ user.prenom }} {{ user.nom }}</h2>
    </div>

    {% if current_resas %}
    {% for resa in current_resas %}
    <div class="row pb-5">
      <div class="col-sm-12 col-md-6">
        <h4><span class="badge badge-secondary">n° {{ resa.id_chambre }}</span> Location en cours</h4>
        <img src="{{ url_for('static', filename='img/room-big.jpg') }}" alt="Nom de la chambre" style="width:100%;">
      </div>

      <div class="col-sm-12 col-md-6">
        <h3>Infos</h3>
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Réservation</th>
              <th scope="col">Du {{ resa.date_debut.strftime("%d/%m/%Y") }} au {{ resa.date_fin.strftime("%d/%m/%Y") }}</th>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ url_for('chambre', id=resa.id_chambre) }}">Infos sur la chambre</a>
        <a class="btn btn-danger" href="{{ url_for('delete_resa', id=resa.id) }}">Annuler Réservation</a>
      </div>
   
    </div>
    {% endfor %}
    {% else %}
    <p>Vous n'avez aucune réservation en cours.</p>
    {% endif %}

  </div>
  <div class="bg-light py-3">
    {% if resas %}
    <div class="container comment-form">
      <form class="form-group" method="POST" action="{{ url_for('post_comment') }}">
        <div>
          <h2 class="text-center">Laisser un commentaire</h2>
          <label for="comment-resa" class="badge badge-secondary">Sélectionnez le séjour que vous voulez commenter</label>
          <select class="custom-select mb-3" name="comment-resa" id="comment-resa" required>
            {% for resa in resas %}
            <option value="{{ resa.id }}">Chambre n° {{ resa.id_chambre }} du {{ resa.date_debut.strftime("%d/%m/%Y") }} au {{ resa.date_fin.strftime("%d/%m/%Y") }}</option>
            {% endfor %}
          </select>
          <textarea class="form-control" id="comment-area" name="comment-area" rows="5"></textarea>
          <button type="submit" class="btn btn-primary my-3">Envoyer</button>
        </div>
      </form>
    </div>
    {% endif %}

    {% if factures %}
    <div class="container history">
      <h2 class="text-center mb-3">Factures</h2>
      <div class="wrapper">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Séjour</th>
              <th scope="col">Chambre</th>
              <th scope="col">Prix</th>
              <th scope="col">Payée</th>
            </tr>
          </thead>
          <tbody>
            {% for facture in factures %}
            <tr>
              <td>
                <a href="{{ url_for('facture', id=facture.id_resa) }}">
                {{ facture.date_debut.strftime("%d/%m/%Y") }}
                <svg class="bi bi-arrow-right-short" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 6.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 10l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M6 10a.5.5 0 01.5-.5H13a.5.5 0 010 1H6.5A.5.5 0 016 10z" clip-rule="evenodd"></path>
                </svg>
                {{ facture.date_fin.strftime("%d/%m/%Y") }}
                </a>
              </td>
              <td><span class="badge badge-secondary">n° {{ facture.numero }}</span></td>
              <td>{{ facture.total }}€</td>
              {% if facture.paye %}
              <td class="text-success">
                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15.854 5.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L8.5 12.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                </svg>
              </td>
              {% elif not facture.paye %}
              <td class="text-danger">
                <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
                  <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                </svg>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      {% endif %}

    
    </div>
  </div>
</div>

{% endblock %}
