{% extends "base.html" %}

{% block body %}

<div id="bar">
  <div class="container">
    <div class="my-3 text-center">
      <h1>Facture <span class="badge badge-secondary">n° {{ facture.id_resa }}</span></h1>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>Hôtel Adsillh</h4>
        <p>LaBRI, 351 cours de la Libération<br>33405 Talence Cedex</p>
      </div>
      <div class="col-sm-12 col-md-6 offset-md-6 border p-4">
        <h4>{{ facture.nom }} {{ facture.prenom }}</h4>
        <p>Adresse</p>
      </div>
    </div>

    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">Désignation</th>
          <th scope="col">Date</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Location chambre {{ facture.numero }}</td>
          <td>Du {{ facture.date_debut.strftime("%d/%m/%Y") }} au {{ facture.date_fin.strftime("%d/%m/%Y") }}</td>
          <td>{{ facture.nuitees }}€</td>
        </tr>
        <tr>
          <td>Consommations</td>
          <td></td>
          <td>{{ facture.consos }}€</td>
      </tbody>
    </table>

    <h4 class="text-right"><span class="badge badge-secondary">Total</span> {{ facture.total }}€</h4>

    <div class="buttons text-right">
      <a href="#" class="btn btn-primary">Imprimer</a>
      {% if not facture.paye %}
        <a href="{{ url_for('paye', id=facture.id_resa) }}" class="btn btn-primary">Payer</a>
      {% else %}
        <span>Payé</span>
      {% endif %}
    </div>


    </div>
  </div>
</div>

{% endblock %}
