{% extends "base.html" %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"><img src="{{ url_for('static', filename='img/carousel1.jpg') }}" class="d-block w-100" alt="..."></div>
    <div class="carousel-item"><img src="{{ url_for('static', filename='img/carousel2.jpg') }}" class="d-block w-100" alt="..."></div>
    <div class="carousel-item"><img src="{{ url_for('static', filename='img/carousel3.jpg') }}" class="d-block w-100" alt="..."></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container py-5">
  <div id="intro">
    <h1>Hôtel ADSILLH</h1>
    <p>Bienvenue sur le site de l'Hôtel ADSILLH. Sentez-vous libre de venir séjourner entre nos murs entre deux conventions sur le Logiciel Libre...</p>
    <a class="btn btn-outline-primary" href="{{ url_for('hotel') }}">Présentation de l'hôtel</a>
    <a class="btn btn-outline-primary" href="{{ url_for('chambres') }}">Louer une chambre</a>
  </div>
</div>

<!--
<div class="py-5 bg-light">
  <div class="container">
    <div id="success-rooms">
      <h5>Nos chambres les plus domandées</h5>
      <div class="row">
        
        <div class="col-sm-12 col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/img/room.jpg" class="card-img-top" alt="Nom de la chambre">
            <div class="card-body">
              <h5 class="card-title">Nom de la chambre</h5>
              <p class="card-text">Petit texte de présentation... Petit texte de présentation... Petit texte de présentation</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">Infos</a>
                  <a class="btn btn-sm btn-outline-primary" href="#">Louer</a>
                </div>
                <small class="text-muted">Indisponible</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/img/room.jpg" class="card-img-top" alt="Nom de la chambre">
            <div class="card-body">
              <h5 class="card-title">Nom de la chambre</h5>
              <p class="card-text">Petit texte de présentation... Petit texte de présentation... Petit texte de présentation</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">Infos</a>
                  <a class="btn btn-sm btn-outline-primary" href="#">Louer</a>
                </div>
                <small class="text-success">Disponible</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/img/room.jpg" class="card-img-top" alt="Nom de la chambre">
            <div class="card-body">
              <h5 class="card-title">Nom de la chambre</h5>
              <p class="card-text">Petit texte de présentation... Petit texte de présentation... Petit texte de présentation</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">Infos</a>
                  <a class="btn btn-sm btn-outline-primary" href="#">Louer</a>
                </div>
                <small class="text-success">Disponible</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
-->

{% endblock %}
