{% extends "base.html" %}

{% block body %}

<div id="hotel">
  <div class="container">
    <div class="py-3">
      <h1>Hôtel</h1>
    </div>
  </div>

  <div id="descs">
    {% if descriptions %}
    {% for desc in descriptions %}
    <div class="p-4 desc">
      <div class="container">
        <p>{{ desc.description }}</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="container py-5 text-center">
    <a class="btn btn-outline-primary" href="{{ url_for('chambres') }}">Voir les chambres</a>
    <a class="btn btn-outline-success" href="{{ url_for('login') }}">Se connecter / S'inscrire</a>
  </div>

</div>
{% endblock %}
