{% extends "base.html" %}

{% block body %}

<div id="location">
  <div class="container">
    <div class="py-3">
      <h1>Location de la chambre <span class="badge badge-secondary">{{ id }}</h1>
    </div>

    <form>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <input type="text" id="from" name="from" class="form-control" placeholder="Date de début" required>
          </div>
          <div class="col">
            <input type="text" id="to" name="to" class="form-control" placeholder="Date de fin" required>
          </div>
        </div>
      </div>
    </form>
    
    </div>
  </div>
</div>

{% block scripts %}
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
{% endblock %}

{% endblock %}
