{% extends "base.html" %}

{% block body %}

<div id="signin">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <form class="form-signin connect" method="POST" action="{{ url_for('connect') }}">
          <h2 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h2>
          <label for="connect-email" class="sr-only">E-mail</label>
          <input type="email" id="connect-email" name="connect-email" class="form-control" placeholder="E-mail" required autofocus>
          <label for="connect-password" class="sr-only">Password</label>
          <input type="password" id="connect-password" name="connect-password" class="form-control" placeholder="Mot de passe" required>
          <button type="submit" class="btn btn-lg btn-success btn-block">Se connecter</button>
        </form>
      </div>

      <div class="col-sm-12 col-md-6">
        <form class="form-signin signin" method="POST" action="{{ url_for('post_inscription') }}">
          <h2 class="h3 mb-3 font-weight-normal text-center">Inscrivez-vous</h2>
          <label for="signin-firstname" class="sr-only">Prénom</label>
          <input type="text" id="signin-firstname" name="signin-firstname" class="form-control" placeholder="Prénom" required>
          <label for="signin-lastname" class="sr-only">Nom</label>
          <input type="text" id="signin-lastname" name="signin-lastname" class="form-control" placeholder="Nom" required>
          <label for="signin-email" class="sr-only">E-mail</label>
          <input type="email" id="signin-email" name="signin-email" class="form-control" placeholder="E-mail" required>
          <label for="signin-password" class="sr-only">Mot de passe</label>
          <input type="password" id="signin-password" name="signin-password" class="form-control" placeholder="Mot de passe" required>
          <label for="signin-password-confirm" class="sr-only">Confirmez votre mot de passe</label>
          <input type="password" id="signin-password-confirm" name="signin-password-confirm" class="form-control" placeholder="Confirmation" required>
          <button type="submit" class="btn btn-lg btn-primary btn-block">S'inscrire</button>

        </form>
      </div>
      <p class="mt-5 mb-3 text-muted" style="width:100%;text-align:center;">Hôtel Adsillh</p>
      

    </div>
  </div>
</div>

{% endblock %}
