<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home') }}">Hôtel Adsillh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hotel') }}">Hôtel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('chambres') }}">Chambres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bar') }}">Bar</a>
      </li>
    </ul>
    {% if session %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('admin') }}">Mon compte</a>
    <a class="btn btn-outline-secondary my-2 my-sm-0 ml-2" href="{{ url_for('logout') }}">Se déconnecter</a>
    {% else %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('login') }}">Se connecter</a>
    {% endif %}
  </div>
</nav>
